{% extends 'my_tinder/base_my_tinder.html' %}
{% load verbose_names %}

{% block title %}
Страница участника
{% endblock %}
{% block content %}

<a href = '{% url "watch_clients" id=request.user.id %}'>Посмотреть других участников </a>
<h1>Вы вошли как {{ client_email }}</h1>


{% for field, value in client_info.items %}

     {% if value.url %}
        <p>{{ field }}</p>
        <p><img src="{{ value.url }}" alt="connect" style="max-height:300px"></p>
        {% else %}
        <p> {{ field }}: {{ value }}</p>
        {% endif %}

{% endfor %}

{% endblock %}







