{% extends 'my_tinder/base_my_tinder.html' %}
{% load verbose_names %}


{% block title %}
Страница участника
{% endblock %}
{% block content %}

<a href = '{% url "watch_clients" %}'>Посмотреть других участников </a>
<h1>Вы вошли как {{ client_email }}</h1>


    {% for field_name, value in client_info.items %}
        {% if value.url %}
        <p>{% get_verbose_field_name client field_name %}</p>
        <img src="{{ value.url }}" alt="connect" style="max-height:300px">
        {% else %}
            <p>{% get_verbose_field_name client field_name %}: {{ value }}</p>
        {% endif %}

{% endfor %}









<!--
<div>
 <img src="{{ client.avatar.url}}" alt="connect" style="max-height:500px">
  <p>{{ client.gender }}</p>
  <p>{{ client.first_name }}</p>
  <p>{{ client.last_name }}</p>
</div>-->
{% endblock %}


