{% extends 'my_tinder/base_my_tinder.html' %}


{% block content%}
<h1>Другие участники</h1>
<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">{{ client.email }}</h5>
        <ul>
        {% for other_client in other_clients %}
        <h3>{{ other_client.last_name }}</h3>
        <img src="{{ other_client.avatar.url }}" alt="connect" style="max-height:300px">
        <div class="header">
            <a href = '{% url "other_client_detail" id=request.user.id other_client_id=other_client.id %}'>Подробно об участнике {{ other_client_email }} </a>
        {% endfor %}

        </div>
        </ul>

  </div>
</div>
{% endblock %}
