{% extends 'my_tinder/base_my_tinder.html' %}
{% load verbose_names %}


{% block title %}
Страница участника {{ other_client.email }}
{% endblock %}
{% block content %}

<!--Атрибут id используется для получения email участника для отправки ajax запроса (post запроса) в файле main.js
В дальнейшем этот email будет использоваться в функции представлении фреймворка django -->
<h1 id="{{ other_client_email }}">Страница пользователя {{ other_client_email }}</h1>


    {% for field_name, value in other_client_info.items %}
        {% if value.url %}
<!--Использую свой шаблонный тег get_verbose_field_name для получения атрибута verbose_name объекта класса CustomUser-->
        <p>{% get_verbose_field_name other_client field_name %}</p>
        <img src="{{ value.url }}" alt="connect" style="max-height:500px">
        {% else %}
            <p id='{{ field_name }}'>{% get_verbose_field_name other_client field_name %}: {{ value }}</p>
        {% endif %}


    {% endfor %}

<div class="container mt-3">
    <div class="col-5 offset-md-3">
        {% get_liked_users auth_user other_client as liked_user %}
        {% if liked_user %}
        <h1> {{ liked_user }} </h1>
        <!--Если интересующего нас email другого участника нет в бд, то отображаем кнопку с атрибутом class="btn btn-light"-->

            <button type="button" class="btn btn-success" data-url='{% url "other_client_detail" id=request.user.id other_client_id=other_client.id  %}'>Нравится</button>
            <button type="button" class="btn btn-light" data-url='{% url "other_client_detail" id=request.user.id other_client_id=other_client.id  %}'>Не нравится</button>
        {% else %}
            <button type="button" class="btn btn-light" data-url='{% url "other_client_detail" id=request.user.id other_client_id=other_client.id  %}'>Нравится</button>
            <button type="button" class="btn btn-light" data-url='{% url "other_client_detail" id=request.user.id other_client_id=other_client.id  %}>Не нравится</button>
        {% endif %}

    {% csrf_token %}
        </div>
</div>
<!--<form action='{% url "other_client_detail" id=request.user.id other_client_id=other_client.id  %}' method="post">
    {% csrf_token %}
    <p>{{ form }}</p>
</form>-->
{% endblock %}