{% load static %}


<!DOCTYPE HTML>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link type="text/css" href="{% static 'my_tinder/css/bootstrap.css' %}" rel = "stylesheet"/>

  <title>
   {% block title %}
   My_tinder
   {% endblock %}
  </title>

 </head>
 <body>
 {% block mainmenu %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
            <a class="nav-link" href='{% url "index" %}'>Главная</a>
          {% if request.user.is_authenticated %}

            <a class="nav-link" href='{% url "logout" %}'>Выйти</a>
          {% elif not request.user.is_authenticated %}
            <a class="nav-link" href = '{% url "login" %}'>Войти</a>
          <a class="nav-link" href = '{% url "registration" %}'>Зарегистрироваться</a>
          {% elif request.path ==  "http://127.0.0.1:8000/my_tinder/clients/create/" %}
            <a class="nav-link" href = '{% url "login" %}'>Войти</a>//
          {% endif %}


      </div>
    </div>
  </div>
</nav>
 {% endblock %}

<div class="container mt-5">
     <div class="row">
          <div class="col-7 offset-md-3">

              {% block content %}

            {% endblock %}


          </div>
     </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="{% static 'my_tinder/js/main.js' %}"></script>
 </body>
</html>